<launch>
  <arg name="run_rviz" default="true" />
  <arg name="publish_objects_tf" default="true" />

  <include file="$(find pr2eus_tutorials)/launch/gazebo/pr2_tabletop_scene.launch" />

  <include file="$(find pr2eus_tutorials)/launch/pr2_tabletop.launch">
    <arg name="run_rviz" value="$(arg run_rviz)" />
    <arg name="publish_objects_tf" value="$(arg publish_objects_tf)" />
  </include>

  <node name="kinect_throttled_points" pkg="topic_tools" type="throttle"
        args="messages /head_mount_kinect/depth_registered/points 5.0 /kinect_head/depth_registered/throttled/points">
    <rosparam>
      lazy: true
    </rosparam>
  </node>
</launch>
