<launch>
  <machine name="localhost" address="localhost" default="true" />
  <arg name="machine_name" default="localhost" />
  <arg name="planning_description" default="$(find pr2_arm_navigation_config)/config/pr2_planning_description.yaml" />
  <arg name="cloud_sources" default="$(find jsk_pr2_startup)/jsk_pr2_sensors/collision_map_sources_laser.yaml" />
  <arg name="self_fileter_config" default="$(find jsk_pr2_startup)/jsk_pr2_sensors/tilt_self_filter.yaml" />
  <arg name="robot_frame" default="base_link" />


  <rosparam command="load" ns="robot_description_planning" file="$(arg planning_description" />

  <node pkg="collider" type="collider_node" name="collider_node"
	respawn="true" output="screen" machine="$(arg machine_name)" >
    <param name="fixed_frame" type="string" value="$(arg robot_frame)" />
    <param name="resolution" type="double" value="0.01" />
    <param name="pruning_period" type="int" value="3" />
    <!-- <param name="max_range" type="double" value="2.5" /> -->
    <param name="publish_static_over_dynamic_map" value="true" />
    <param name="sensor_model_hit" value= "0.8" />
    <param name="sensor_model_miss" value= "0.31" />
    <param name="sensor_model_min" value= "0.12" />
    <param name="sensor_model_max" value= "0.95" />

    <remap from="collision_map_out" to="collision_map_occ" />
    <remap from="point_cloud_out" to="octomap_point_cloud" />

    <param name="origin_x" type="double" value="1.1" />
    <param name="origin_y" type="double" value="0.0" />
    <param name="origin_z" type="double" value="0.0" />

    <param name="dimension_x" type="double" value="1.5" />
    <param name="dimension_y" type="double" value="2.0" />
    <param name="dimension_z" type="double" value="2.0" />


    <rosparam command="load" file="$(arg cloud_sources)" />
    <rosparam command="load" file="$(arg self_filter_config)" />
  </node>
</launch>