<launch>
  <arg name="test" default="false" />

  <node name="base_foot_print_to_waist" pkg="tf"
        type="static_transform_publisher"
        args="0 0 0.9 0 0 0 /base_footprint /BODY 50"/>
  <node name="base_link_to_base_footprint" pkg="tf"
        type="static_transform_publisher"
        args="0 0 0 0 0 0 /base_link /base_footprint 50"/>

  <include file="$(find pr2eus_openrave)/launch/openrave_armplan.launch">
    <arg name="test" value="$(arg test)"/>
    <arg name="collision_map_time" value="1"/>
    <arg name="option" value="--use-simulation='true'"/>
    <arg name="robot" value="$(find hrpsys_ros_bridge)/models/HRP4C.dae"/>
    <arg name="robot_name" value="hrp4"/>
    <arg name="robot_frame" value="base_footprint" />
    <arg name="eusmodel_fname" value="$(find hrpsys_ros_bridge)/models/hrp4c.l"/>
  </include>


</launch>