<launch>
  <!--
      usage:
      rostopic pub "ray_coords" geometry_msgs/PoseStamped '{header: {stamp: now, frame_id: base_link}, pose: {position: [0.8, 0.0, 0.7]}}' -1

  -->
  <param name="robot_description"
	 textfile="$(find pr2_mechanism_model)/pr2.urdf" />
  <node name="robot_state_publisher" pkg="robot_state_publisher"
	type="state_publisher"/>
  <node name="armplanning_openrave" output="screen"
	pkg="orrosplanning" type="armplanning_openrave.py"
	args="--request-for-joint_states='service'"/>
  <node name="pr2eus_openrave_eus" pkg="roseus" type="roseus" output="screen"
  	args='$(find pr2eus_openrave)/move_to_screenpoint.l
  	      "(setq *simulation* t *exit-on-fail* t)" "(execute-main)" ' />
<!--     TODO:update collision_map from euslisp -->
</launch>
