<launch>
  <sphinxdoc><![CDATA[

This launch file is expected to be used inside Local PC.
If you launch this inside PR2, set armplanning_option "--viewer=''".

- A Node: armplanning_openrave.py is used to bridge Openrave and ROS.

.. image:: launch/images/pr2eus_openrave_sample.png
  :width: 400

  ]]></sphinxdoc>
  <arg name="armplanning_option" default="" />
  <node pkg="orrosplanning" type="armplanning_openrave.py"
	args="--collision_map=/collision_map_mux --mapframe=''
	      --wait-for-collisionmap=30
	      --request-for-joint_states='service'
	      $(arg armplanning_option)"
	output="screen" name="pr2eus_openrave_armplan" />
  <node pkg="topic_tools" type="mux" output="screen" name="mux_for_colmap"
	args="collision_map_mux collision_map_none collision_map_occ">
    <remap from="mux" to="collision_map_mux"/>
  </node>
</launch>
