<launch>
  <!-- start up empty world : expand following launch files to respawn gazebo -->
  <!-- include file="$(find pr2_gazebo)/launch/pr2_empty_world.launch" -->
  <!-- include file="$(find gazebo_worlds)/launch/empty_world_paused.launch" -->
  <!-- set use_sim_time flag -->
  <param name="/use_sim_time" value="true" />
  <arg name="gui" default="false"/>
  <env name="DISPLAY" value=":0.0" if="$(arg gui)"/>
  <env name="DISPLAY" value="" unless="$(arg gui)"/>

  <!-- start empty world -->
  <node name="gazebo" pkg="gazebo_ros" type="gzserver" args="-r worlds/empty.world" respawn="true" output="screen"/>
  <group if="$(arg gui)">
    <node name="gazebo_gui" pkg="gazebo_ros" type="gzclient" respawn="false" output="screen"/>
  </group>

  <!-- start pr2 robot -->
  <include file="$(find pr2_gazebo)/launch/pr2.launch"/>
  <param name="/l_gripper_controller/gripper_action_node/stall_velocity_threshold" value="1.0" /> <!-- 0.33 -->
  <param name="/r_gripper_controller/gripper_action_node/stall_velocity_threshold" value="1.0" />

  <!-- for :move-to and :go-velocity tests -->
  <include file="$(find pr2_navigation_slam/slam_gmapping.xml" />
  <node pkg="move_base" type="move_base" name="move_base_node" >
    <remap from="odom" to="base_odometry/odom" />
    <remap from="cmd_vel" to="base_controller/command" />

    <!-- Use the dwa local planner for the PR2 -->
    <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />

    <!-- Load common configuration files -->
    <rosparam file="$(find pr2_navigation_config)/move_base/move_base_params.yaml" command="load" />
    <rosparam file="$(find pr2_navigation_config)/move_base/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find pr2_navigation_config)/move_base/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find pr2_navigation_config)/move_base/dwa_local_planner.yaml" command="load" ns="DWAPlannerROS" />
    <rosparam file="$(find pr2_navigation_config)/move_base/recovery_behaviors.yaml" command="load" />

    <!-- Load slam navigation specific parameters -->
    <rosparam file="$(find pr2_navigation_slam)/config/move_base_params.yaml" command="load" />
    <rosparam file="$(find pr2_navigation_slam)/config/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find pr2_navigation_slam)/config/local_costmap_params.yaml" command="load"  />
  </node>

  <!-- start test -->
  <test test-name="pr2_ri_test" pkg="roseus" type="roseus" retry="1"
	args="$(find pr2eus)/test/pr2-ri-test.l" time-limit="800" />
</launch>
