<launch>
  <!-- ROBOT=sim roslaunch pr2eus_tutorials pr2_gazebo_interactive -->
  <include file="$(find pr2_gazebo)/launch/pr2_empty_world.launch" />
  <include file="$(find pr2_interactive_manipulation)/launch/pr2_interactive_manipulation_robot.launch">
    <arg name="sim" value="true" />
    <arg name="stereo" value="true" />
  </include>
  <node pkg="rviz" name="pr2_rviz" type="rviz"
        args="-d $(find pr2eus_tutorials)/launch/pr2_planning.vcg" />
</launch>
